openapi: 3.2.0
info:
  version: v1.0
  title: Customer Management - COE Create Customer API
  description: An API to Create customers,create admin users,activate/deactivate,disable Sims.
servers:
- url: https://coe.api.mtn.com/customerManagement/v1
tags:
- name: Create Customer
paths:
  /customer:
    post:
      operationId: createCustomer
      summary: Creates a Customer
      description: This operation creates a Customer entity.
      tags:
      - Create Customer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer_Create_Response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer_Create'
        description: The Customer to be created
        required: true
components:
  schemas:
    ContactMediumCharacteristic:
      type: object
      properties:
        country:
          type: string
          description: Contact country
        contactType:
          type: string
          description: contactType
          example: GH
        engagedPartyName:
          type: string
          description: engagedPartyName
        landLineNumber:
          type: string
          description: landLineNumber
        status:
          type: string
          description: ACTIVE
        phoneNumber:
          type: string
          description: The primary phone number of the contact
        emailAddress:
          type: string
          description: Full email address in standard format
        street:
          type: string
          description: Street Name
        street2:
          type: string
          description: Complementary street description
        postCode:
          type: string
          description: Postcode
        socialNetworkId:
          type: string
          description: UserName
        stateOrProvince:
          type: string
          description: State or province
        name:
          type: string
          description: Address Name
    RelatedParty:
      required:
      - customerMsisdn
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of a related entity.
        name:
          type: string
          description: Name of the related entity
      description: Related Entity reference. A related party defines party or party role linked to a specific entity.
    Customer_Create_Response:
      type: object
      properties:
        name:
          type: string
          example: joe
        characteristic:
          type: array
          items:
            $ref: '#/components/schemas/Characteristic'
          description: Describes the characteristic of a customer.
        contactMedium:
          type: array
          items:
            $ref: '#/components/schemas/ContactMedium'
        engagedParty:
          $ref: '#/components/schemas/RelatedParty'
          description: The party - an organization or an individual - that is engaged as a customer.
        relatedParty:
          type: array
          items:
            $ref: '#/components/schemas/RelatedParty'
    Any: {}
    ContactMedium:
      type: object
      properties:
        characteristic:
          $ref: '#/components/schemas/ContactMediumCharacteristic'
      description: Indicates the contact medium that could be used to contact the party.
    Customer_Create:
      type: object
      description: 'Skipped properties: id,href'
      required:
      - engagedParty
      - name
      properties:
        name:
          type: string
          description: A word, term, or phrase by which the Customer is known and distinguished from other Customers.
        mailAddress:
          type: string
          description: a mailing address.
        mediumType:
          type: string
          description: 'medium Type.   preferred '
        preferred:
          type: string
          description: 'preferred mailing Address.    '
        characteristic:
          type: array
          items:
            $ref: '#/components/schemas/Characteristic'
          description: Describes the characteristic of a customer.
        contactMedium:
          type: array
          items:
            $ref: '#/components/schemas/ContactMedium'
        engagedParty:
          $ref: '#/components/schemas/RelatedParty'
          description: The party - an organization or an individual - that is engaged as a customer.
        relatedParty:
          type: array
          items:
            $ref: '#/components/schemas/RelatedParty'
    Characteristic:
      required:
      - name
      - value
      type: object
      properties:
        name:
          type: string
          description: Name of the characteristic
        value:
          $ref: '#/components/schemas/Any'
          description: The value of the characteristic
      description: Describes a given characteristic of an object xor entity through a name/value pair.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-API-Key
      in: header
