openapi: 3.2.0
info:
  title: Mtn Group notification listeners (client side) API
  version: 4.0.0
  description: 'Operations tagged notification listeners (client side) across 3 of this provider''s published API definitions: mtn-group-service-activation-and-configuration.yml, mtn-group-tmf-resourceinventorymanagement-tmf639.yml, mtn-group-tmf688-event-management.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: http://api.mtn.com/v1
- url: https://serverRoot/tmf-api/resourceInventoryManagement/v4/
- url: https://serverRoot/tmf-api/event/v4/
tags:
- name: notification listeners (client side)
paths:
  /listener/serviceCreateEvent:
    post:
      operationId: listenToServiceCreateEvent
      summary: Client listener for entity ServiceCreateEvent
      description: Example of a client listener for receiving the notification ServiceCreateEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/ServiceCreateEvent'
        description: The event data
        required: true
    servers:
    - url: http://api.mtn.com/v1
  /listener/serviceAttributeValueChangeEvent:
    post:
      operationId: listenToServiceAttributeValueChangeEvent
      summary: Client listener for entity ServiceAttributeValueChangeEvent
      description: Example of a client listener for receiving the notification ServiceAttributeValueChangeEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/ServiceAttributeValueChangeEvent'
        description: The event data
        required: true
    servers:
    - url: http://api.mtn.com/v1
  /listener/serviceStateChangeEvent:
    post:
      operationId: listenToServiceStateChangeEvent
      summary: Client listener for entity ServiceStateChangeEvent
      description: Example of a client listener for receiving the notification ServiceStateChangeEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/ServiceStateChangeEvent'
        description: The event data
        required: true
    servers:
    - url: http://api.mtn.com/v1
  /listener/serviceDeleteEvent:
    post:
      operationId: listenToServiceDeleteEvent
      summary: Client listener for entity ServiceDeleteEvent
      description: Example of a client listener for receiving the notification ServiceDeleteEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/ServiceDeleteEvent'
        description: The event data
        required: true
    servers:
    - url: http://api.mtn.com/v1
  /listener/monitorCreateEvent:
    post:
      operationId: listenToMonitorCreateEvent
      summary: Client listener for entity MonitorCreateEvent
      description: Example of a client listener for receiving the notification MonitorCreateEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/MonitorCreateEvent'
        description: The event data
        required: true
    servers:
    - url: http://api.mtn.com/v1
  /listener/monitorAttributeValueChangeEvent:
    post:
      operationId: listenToMonitorAttributeValueChangeEvent
      summary: Client listener for entity MonitorAttributeValueChangeEvent
      description: Example of a client listener for receiving the notification MonitorAttributeValueChangeEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/MonitorAttributeValueChangeEvent'
        description: The event data
        required: true
    servers:
    - url: http://api.mtn.com/v1
  /listener/monitorStateChangeEvent:
    post:
      operationId: listenToMonitorStateChangeEvent
      summary: Client listener for entity MonitorStateChangeEvent
      description: Example of a client listener for receiving the notification MonitorStateChangeEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/MonitorStateChangeEvent'
        description: The event data
        required: true
    servers:
    - url: http://api.mtn.com/v1
  /listener/monitorDeleteEvent:
    post:
      operationId: listenToMonitorDeleteEvent
      summary: Client listener for entity MonitorDeleteEvent
      description: Example of a client listener for receiving the notification MonitorDeleteEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/MonitorDeleteEvent'
        description: The event data
        required: true
    servers:
    - url: http://api.mtn.com/v1
  /listener/resourceCreateEvent:
    post:
      operationId: listenToResourceCreateEvent
      summary: Client listener for entity ResourceCreateEvent
      description: Example of a client listener for receiving the notification ResourceCreateEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/ResourceCreateEvent'
        description: The event data
        required: true
    servers:
    - url: https://serverRoot/tmf-api/resourceInventoryManagement/v4/
  /listener/resourceAttributeValueChangeEvent:
    post:
      operationId: listenToResourceAttributeValueChangeEvent
      summary: Client listener for entity ResourceAttributeValueChangeEvent
      description: Example of a client listener for receiving the notification ResourceAttributeValueChangeEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/ResourceAttributeValueChangeEvent'
        description: The event data
        required: true
    servers:
    - url: https://serverRoot/tmf-api/resourceInventoryManagement/v4/
  /listener/resourceStateChangeEvent:
    post:
      operationId: listenToResourceStateChangeEvent
      summary: Client listener for entity ResourceStateChangeEvent
      description: Example of a client listener for receiving the notification ResourceStateChangeEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/ResourceStateChangeEvent'
        description: The event data
        required: true
    servers:
    - url: https://serverRoot/tmf-api/resourceInventoryManagement/v4/
  /listener/resourceDeleteEvent:
    post:
      operationId: listenToResourceDeleteEvent
      summary: Client listener for entity ResourceDeleteEvent
      description: Example of a client listener for receiving the notification ResourceDeleteEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/ResourceDeleteEvent'
        description: The event data
        required: true
    servers:
    - url: https://serverRoot/tmf-api/resourceInventoryManagement/v4/
  /listener/topicCreateEvent:
    post:
      operationId: listenToTopicCreateEvent
      summary: Client listener for entity TopicCreateEvent
      description: Example of a client listener for receiving the notification TopicCreateEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription_2'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/TopicCreateEvent'
        description: The event data
        required: true
      security:
      - ApiKeyAuth: []
      - basicAuth: []
    servers:
    - url: https://serverRoot/tmf-api/event/v4/
  /listener/topicChangeEvent:
    post:
      operationId: listenToTopicChangeEvent
      summary: Client listener for entity TopicChangeEvent
      description: Example of a client listener for receiving the notification TopicChangeEvent
      tags:
      - notification listeners (client side)
      parameters:
      - name: sourceIdentifier
        required: false
        in: query
        description: source system details for routing purpose
        schema:
          type: string
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription_2'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/TopicChangeEvent'
        description: The event data
        required: true
      security:
      - ApiKeyAuth: []
      - basicAuth: []
    servers:
    - url: https://serverRoot/tmf-api/event/v4/
  /listener/topicDeleteEvent:
    post:
      operationId: listenToTopicDeleteEvent
      summary: Client listener for entity TopicDeleteEvent
      description: Example of a client listener for receiving the notification TopicDeleteEvent
      tags:
      - notification listeners (client side)
      responses:
        '201':
          description: Notified
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/EventSubscription_2'
        '400':
          description: Bad Request
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/TopicDeleteEvent'
        description: The event data
        required: true
      security:
      - ApiKeyAuth: []
      - basicAuth: []
    servers:
    - url: https://serverRoot/tmf-api/event/v4/
components:
  schemas:
    OrderItemActionType:
      type: string
      description: action to be performed on the product
      enum:
      - add
      - modify
      - delete
      - noChange
    RelatedParty:
      type: object
      description: Related Entity reference. A related party defines party or party role linked to a specific entity.
      required:
      - '@referredType'
      - id
      properties:
        id:
          type: string
          description: unique identifier
        href:
          type: string
          format: uri
          description: Hyperlink reference
        name:
          type: string
          description: Name of the related entity.
        role:
          type: string
          description: Role played by the related party
        '@baseType':
          example: ResourceSpecification
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          example: https://mycsp.com:8080/tmf-api/schema/Resource/LogicalResourceSpecification.schema.json
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          example: LogicalResourceSpecification
          type: string
          description: When sub-classing, this defines the sub-class Extensible name
        '@referredType':
          type: string
          description: The actual type of the target instance when needed for disambiguation.
    MonitorDeleteEvent:
      type: object
      description: The notification data structure
      properties:
        event:
          description: The event payload linked to the involved resource object
          $ref: '#/components/schemas/MonitorDeleteEventPayload'
        eventId:
          type: string
          description: The identifier of the notification.
        eventTime:
          type: string
          format: date-time
          description: Time of the event occurrence.
        eventType:
          type: string
          description: The type of the notification.
        correlationId:
          type: string
          description: The correlation id for this event.
        domain:
          type: string
          description: The domain of the event.
        title:
          type: string
          description: The title of the event.
        description:
          type: string
          description: An explnatory of the event.
        priority:
          type: string
          description: A priority.
        timeOcurred:
          type: string
          format: date-time
          description: The time the event occured.
    ServiceSpecificationRef:
      type: object
      description: 'Service specification reference: ServiceSpecification(s) required to realize a ProductSpecification.'
      properties:
        id:
          type: string
          description: unique identifier
        href:
          type: string
          format: uri
          description: Hyperlink reference
        name:
          type: string
          description: Name of the related entity.
        version:
          type: string
          description: Service specification version
        '@baseType':
          example: ResourceSpecification
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          example: https://mycsp.com:8080/tmf-api/schema/Resource/LogicalResourceSpecification.schema.json
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          example: LogicalResourceSpecification
          type: string
          description: When sub-classing, this defines the sub-class Extensible name
        '@referredType':
          type: string
          description: The actual type of the target instance when needed for disambiguation.
      required:
      - id
    MonitorAttributeValueChangeEvent:
      type: object
      description: The notification data structure
      properties:
        eventId:
          type: string
          description: The identifier of the notification.
        eventTime:
          type: string
          format: date-time
          description: Time of the event occurrence.
        eventType:
          type: string
          description: The type of the notification.
        correlationId:
          type: string
          description: The correlation id for this event.
        domain:
          type: string
          description: The domain of the event.
        title:
          type: string
          description: The title of the event.
        description:
          type: string
          description: An explnatory of the event.
        priority:
          type: string
          description: A priority.
        timeOcurred:
          type: string
          format: date-time
          description: The time the event occured.
        fieldPath:
          type: string
          description: The path identifying the object field concerned by this notification.
        event:
          description: The event payload linked to the involved resource object
          $ref: '#/components/schemas/MonitorAttributeValueChangeEventPayload'
    ServiceCreateEvent:
      type: object
      description: The notification data structure
      properties:
        event:
          description: The event payload linked to the involved resource object
          $ref: '#/components/schemas/ServiceCreateEventPayload'
        eventId:
          type: string
          description: The identifier of the notification.
        eventTime:
          type: string
          format: date-time
          description: Time of the event occurrence.
        eventType:
          type: string
          description: The type of the notification.
        correlationId:
          type: string
          description: The correlation id for this event.
        domain:
          type: string
          description: The domain of the event.
        title:
          type: string
          description: The title of the event.
        description:
          type: string
          description: An explnatory of the event.
        priority:
          type: string
          description: A priority.
        timeOcurred:
          type: string
          format: date-time
          description: The time the event occured.
    ServiceStateChangeEventPayload:
      type: object
      description: The event data structure
      properties:
        service:
          description: The involved resource data for the event
          $ref: '#/components/schemas/Service'
    ConstraintRef:
      type: object
      description: Constraint reference. The Constraint resource represents a policy/rule applied to an entity or entity spec.
      properties:
        id:
          type: string
          description: reference id to the target constraint
        href:
          type: string
          description: Hyperlink reference to the target constraint
        name:
          type: string
          description: Name given to the constraint
        version:
          type: string
          description: constraint version
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name
        '@referredType':
          type: string
          description: The (class) type of the referred constraint
      required:
      - id
    MonitorStateChangeEventPayload:
      type: object
      description: The event data structure
      properties:
        monitor:
          description: The involved resource data for the event
          $ref: '#/components/schemas/Monitor'
    MonitorDeleteEventPayload:
      type: object
      description: The event data structure
      properties:
        monitor:
          description: The involved resource data for the event
          $ref: '#/components/schemas/Monitor'
    ResourceRef:
      type: object
      properties:
        id:
          type: string
          description: unique identifier
        href:
          type: string
          format: uri
          description: Hyperlink reference
        name:
          type: string
          description: Name of the related entity.
        '@baseType':
          example: ResourceSpecification
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          example: https://mycsp.com:8080/tmf-api/schema/Resource/LogicalResourceSpecification.schema.json
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          example: LogicalResourceSpecification
          type: string
          description: When sub-classing, this defines the sub-class Extensible name
        '@referredType':
          type: string
          description: The actual type of the target instance when needed for disambiguation.
      required:
      - id
    MonitorStateChangeEvent:
      type: object
      description: The notification data structure
      properties:
        event:
          description: The event payload linked to the involved resource object
          $ref: '#/components/schemas/MonitorStateChangeEventPayload'
        eventId:
          type: string
          description: The identifier of the notification.
        eventTime:
          type: string
          format: date-time
          description: Time of the event occurrence.
        eventType:
          type: string
          description: The type of the notification.
        correlationId:
          type: string
          description: The correlation id for this event.
        domain:
          type: string
          description: The domain of the event.
        title:
          type: string
          description: The title of the event.
        description:
          type: string
          description: An explnatory of the event.
        priority:
          type: string
          description: A priority.
        timeOcurred:
          type: string
          format: date-time
          description: The time the event occured.
    MonitorCreateEventPayload:
      type: object
      description: The event data structure
      properties:
        monitor:
          description: The involved resource data for the event
          $ref: '#/components/schemas/Monitor'
    FeatureRelationship:
      type: object
      description: Configuration feature
      required:
      - name
      - relationshipType
      properties:
        id:
          type: string
          description: Unique identifier of the target feature.
        name:
          type: string
          description: This is the name of the target feature.
        relationshipType:
          type: string
          description: This is the type of the feature relationship.
        validFor:
          $ref: '#/components/schemas/TimePeriod'
          description: The period for which this feature relationship is valid.
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name
    ServiceDeleteEvent:
      type: object
      description: The notification data structure
      properties:
        event:
          description: The event payload linked to the involved resource object
          $ref: '#/components/schemas/ServiceDeleteEventPayload'
        eventId:
          type: string
          description: The identifier of the notification.
        eventTime:
          type: string
          format: date-time
          description: Time of the event occurrence.
        eventType:
          type: string
          description: The type of the notification.
        correlationId:
          type: string
          description: The correlation id for this event.
        domain:
          type: string
          description: The domain of the event.
        title:
          type: string
          description: The title of the event.
        description:
          type: string
          description: An explnatory of the event.
        priority:
          type: string
          description: A priority.
        timeOcurred:
          type: string
          format: date-time
          description: The time the event occured.
    HeaderItem:
      type: object
      description: An item typically included in a request or response
      required:
      - name
      - value
      properties:
        name:
          type: string
          description: The name of the header item, e.g. locale
        value:
          type: string
          description: The value of the header item, e.g. en-us
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name
    Any: {}
    ServiceStateType:
      type: string
      description: Valid values for the lifecycle state of the service
      enum:
      - feasibilityChecked
      - designed
      - reserved
      - inactive
      - active
      - terminated
    Service:
      type: object
      description: 'Service is a base class for defining the Service hierarchy. All Services are characterized as either being possibly visible and usable by a Customer or not. This gives rise to the two subclasses of Service: CustomerFacingService and ResourceFacingService.'
      properties:
        id:
          type: string
          description: Unique identifier of the service
        href:
          type: string
          description: Reference of the service
        category:
          type: string
          description: Is it a customer facing or resource facing service
        description:
          type: string
          description: Free-text description of the service
        endDate:
          type: string
          format: date-time
          description: Date when the service ends
        hasStarted:
          type: boolean
          description: If TRUE, this Service has already been started
        isBundle:
          type: boolean
          description: If true, the service is a ServiceBundle which regroup a service hierachy. If false, the service is a 'atomic' service (hierachy leaf).
        isServiceEnabled:
          type: boolean
          description: 'If FALSE and hasStarted is FALSE, this particular Service has NOT been enabled for use - if FALSE and hasStarted is TRUE then the service has failed '
        isStateful:
          type: boolean
          description: If TRUE, this Service can be changed without affecting any other services
        name:
          type: string
          description: Name of the service
        serviceDate:
          type: string
          description: Date when the service was created (whatever its status).
        serviceType:
          type: string
          description: Business type of the service
        startDate:
          type: string
          format: date-time
          description: Date when the service starts
        startMode:
          type: string
          description: 'This attribute is an enumerated integer that indicates how the Service is started, such as: 0: Unknown; 1: Automatically by the managed environment; 2: Automatically by the owning device; 3: Manually by the Provider of the Service; 4: Manually by a Customer of the Provider; 5: Any of the above'
        feature:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
          description: 'A list of feature associated with this service '
        note:
          type: array
          items:
            $ref: '#/components/schemas/Note'
          description: A list of notes made on this service
        place:
          type: array
          items:
            $ref: '#/components/schemas/RelatedPlaceRefOrValue'
          description: A list of places (Place [*]). Used to define a place useful for the service (for example a geographical place whre the service is installed)
        relatedEntity:
          type: array
          items:
            $ref: '#/components/schemas/RelatedEntityRefOrValue'
          description: 'A list of related  entity in relationship with this service '
        relatedParty:
          type: array
          items:
            $ref: '#/components/schemas/RelatedParty'
          description: A list of related party references (RelatedParty [*]). A related party defines party or party role linked to a specific entity
        serviceCharacteristic:
          type: array
          items:
            $ref: '#/components/schemas/Characteristic'
          description: 'A list of characteristics that characterize this service (ServiceCharacteristic [*]) '
        serviceOrderItem:
          type: array
          items:
            $ref: '#/components/schemas/RelatedServiceOrderItem'
          description: A list of service order items related to this service
        serviceRelationship:
          type: array
          items:
            $ref: '#/components/schemas/ServiceRelationship'
          description: A list of service relationships (ServiceRelationship [*]). Describes links with other service(s) in the inventory (useful for describing relies-on, relies-from between CFS for example).
        serviceSpecification:
          $ref: '#/components/schemas/ServiceSpecificationRef'
          description: The specification from which this service was instantiated
        state:
          $ref: '#/components/schemas/ServiceStateType'
          description: The life cycle state of the service, such as designed, reserved, active, etc...
        supportingResource:
          type: array
          items:
            $ref: '#/components/schemas/ResourceRef'
          description: 'A list of supporting resources (SupportingResource [*]).Note: only Service of type RFS can be associated with Resources'
        supportingService:
          type: array
          items:
            $ref: '#/components/schemas/ServiceRefOrValue'
          description: A list of supporting services (SupportingService [*]). A collection of services that support this service (bundling, link CFS to RFS)
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name
    Error:
      description: Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)
      type: object
      required:
      - code
      - reason
      properties:
        code:
          type: string
          description: Application relevant detail, defined in the API or a common list.
        reason:
          type: string
          description: Explanation of the reason for the error which can be shown to a client user.
        message:
          type: string
          description: More details and corrective actions related to the error which can be shown to a client user.
        status:
          type: string
          description: HTTP Error code extension
        referenceError:
          type: string
          format: uri
          description: URI of documentation describing the error.
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class.
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name.
    ServiceCreateEventPayload:
      type: object
      description: The event data structure
      properties:
        service:
          description: The involved resource data for the event
          $ref: '#/components/schemas/Service'
    Monitor:
      type: object
      description: Monitoring of resources
      properties:
        id:
          type: string
          description: Identifier of an instance of the monitor. Required to be unique within the resource type.  Used in URIs as the identifier for specific instances of a type
        href:
          type: string
          description: reference to this monitor
        sourceHref:
          type: string
          description: The monitored resource href
        state:
          type: string
          description: The Monitor state of the resource.  InProgress, InError, Completed
        request:
          $ref: '#/components/schemas/Request'
          description: Represents the request
        response:
          $ref: '#/components/schemas/Response'
          description: Represents the response
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name
    TimePeriod:
      type: object
      description: A period of time, either as a deadline (endDateTime only) a startDateTime only, or both
      properties:
        endDateTime:
          example: '1985-04-12T23:20:50.52Z'
          type: string
          format: date-time
          description: End of the time period, using IETC-RFC-3339 format
        startDateTime:
          example: '1985-04-12T23:20:50.52Z'
          type: string
          format: date-time
          description: Start of the time period, using IETC-RFC-3339 format. If you define a start, you must also define an end
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name
    RelatedPlaceRefOrValue:
      type: object
      description: Related Entity reference. A related place defines a place described by reference or by value linked to a specific entity. The polymorphic attributes @type, @schemaLocation & @referredType are related to the place entity and not the RelatedPlaceRefOrValue class itself
      required:
      - role
      properties:
        id:
          type: string
          description: Unique identifier of the place
        href:
          type: string
          description: Unique reference of the place
        name:
          type: string
          description: A user-friendly name for the place, such as [Paris Store], [London Store], [Main Home]
        role:
          type: string
        '@baseType':
          example: ResourceSpecification
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          example: https://mycsp.com:8080/tmf-api/schema/Resource/LogicalResourceSpecification.schema.json
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          example: LogicalResourceSpecification
          type: string
          description: When sub-classing, this defines the sub-class Extensible name
        '@referredType':
          type: string
          description: The actual type of the target instance when needed for disambiguation.
    ServiceRelationship:
      type: object
      required:
      - relationshipType
      properties:
        relationshipType:
          type: string
        ServiceRelationshipCharacteristic:
          type: array
          items:
            $ref: '#/components/schemas/Characteristic'
        service:
          $ref: '#/components/schemas/ServiceRefOrValue'
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name
    MonitorCreateEvent:
      type: object
      description: The notification data structure
      properties:
        event:
          description: The event payload linked to the involved resource object
          $ref: '#/components/schemas/MonitorCreateEventPayload'
        eventId:
          type: string
          description: The identifier of the notification.
        eventTime:
          type: string
          format: date-time
          description: Time of the event occurrence.
        eventType:
          type: string
          description: The type of the notification.
        correlationId:
          type: string
          description: The correlation id for this event.
        domain:
          type: string
          description: The domain of the event.
        title:
          type: string
          description: The title of the event.
        description:
          type: string
          description: An explnatory of the event.
        priority:
          type: string
          description: A priority.
        timeOcurred:
          type: string
          format: date-time
          description: The time the event occured.
    RelatedEntityRefOrValue:
      type: object
      description: A reference to an entity, where the type of the entity is not known in advance. A related entity defines a entity described by reference or by value linked to a specific entity. The polymorphic attributes @type, @schemaLocation & @referredType are related to the Entity and not the RelatedEntityRefOrValue class itself
      required:
      - role
      properties:
        id:
          type: string
          description: Unique identifier of a related entity.
        href:
          type: string
          description: Reference of the related entity.
        name:
          type: string
          description: Name of the related entity.
        role:
          type: string
        '@baseType':
          example: ResourceSpecification
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          example: https://mycsp.com:8080/tmf-api/schema/Resource/LogicalResourceSpecification.schema.json
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          example: LogicalResourceSpecification
          type: string
          description: When sub-classing, this defines the sub-class Extensible name
        '@referredType':
          type: string
          description: The actual type of the target instance when needed for disambiguation.
    Request:
      type: object
      description: A response to a request
      required:
      - body
      - header
      properties:
        body:
          type: string
          description: The body of the request. For example for an HTTP request might contain content of a form .
        method:
          type: string
          description: The protocol of the request, e.g. http
        to:
          type: string
          description: The target of the request, e.g. a URL for an HTTP request
        header:
          type: array
          items:
            $ref: '#/components/schemas/HeaderItem'
          minItems: 1
          description: Items included in the header of the request. For example for an HTTP request might contain requested locale, basic authentication.
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name
    EventSubscription:
      type: object
      description: Sets the communication endpoint address the service instance must use to deliver notification information
      required:
      - id
      - callback
      properties:
        id:
          type: string
          description: Id of the listener
        callback:
          type: string
          description: The callback being registered.
        query:
          type: string
          description: additional data to be passed
    ServiceDeleteEventPayload:
      type: object
      description: The event data structure
      properties:
        service:
          description: The involved resource data for the event
          $ref: '#/components/schemas/Service'
    Characteristic:
      type: object
      description: Describes a given characteristic of an object or entity through a name/value pair.
      required:
      - name
      - value
      properties:
        id:
          type: string
          description: Unique identifier of the characteristic
        name:
          type: string
          description: Name of the characteristic
        valueType:
          type: string
          description: Data type of the value of the characteristic
        characteristicRelationship:
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicRelationship'
        value:
          $ref: '#/components/schemas/Any'
          description: The value of the characteristic
        '@baseType':
          example: ResourceSpecification
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          example: https://mycsp.com:8080/tmf-api/schema/Resource/LogicalResourceSpecification.schema.json
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          example: LogicalResourceSpecification
          type: string
          description: When sub-classing, this defines the sub-class Extensible name
    ServiceAttributeValueChangeEvent:
      type: object
      description: The notification data structure
      properties:
        eventId:
          type: string
          description: The identifier of the notification.
        eventTime:
          type: string
          format: date-time
          description: Time of the event occurrence.
        eventType:
          type: string
          description: The type of the notification.
        correlationId:
          type: string
          description: The correlation id for this event.
        domain:
          type: string
          description: The domain of the event.
        title:
          type: string
          description: The title of the event.
        description:
          type: string
          description: An explnatory of the event.
        priority:
          type: string
          description: A priority.
        timeOcurred:
          type: string
          format: date-time
          description: The time the event occured.
        fieldPath:
          type: string
          description: The path identifying the object field concerned by this notification.
        event:
          description: The event payload linked to the involved resource object
          $ref: '#/components/schemas/ServiceAttributeValueChangeEventPayload'
    CharacteristicRelationship:
      type: object
      description: Another Characteristic that is related to the current Characteristic;
      properties:
        id:
          type: string
          description: Unique identifier of the characteristic
        relationshipType:
          type: string
          description: The type of relationship
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name
    ServiceRefOrValue:
      type: object
      description: A Service to be created defined by value or existing defined by reference. The polymorphic attributes @type, @schemaLocation & @referredType are related to the Service entity and not the RelatedServiceRefOrValue class itself
      properties:
        id:
          type: string
          description: Unique identifier of the service
        href:
          type: string
          description: Reference of the service
        category:
          type: string
          description: Is it a customer facing or resource facing service
        description:
          type: string
          description: Free-text description of the service
        endDate:
          type: string
          format: date-time
          description: Date when the service ends
        hasStarted:
          type: boolean
          description: If TRUE, this Service has already been started
        isBundle:
          type: boolean
          description: If true, the service is a ServiceBundle which regroup a service hierachy. If false, the service is a 'atomic' service (hierachy leaf).
        isServiceEnabled:
          type: boolean
          description: 'If FALSE and hasStarted is FALSE, this particular Service has NOT been enabled for use - if FALSE and hasStarted is TRUE then the service has failed '
        isStateful:
          type: boolean
          description: If TRUE, this Service can be changed without affecting any other services
        name:
          type: string
          description: Name of the service
        serviceDate:
          type: string
          description: Date when the service was created (whatever its status).
        serviceType:
          type: string
          description: Business type of the service
        startDate:
          type: string
          format: date-time
          description: Date when the service starts
        startMode:
          type: string
          description: 'This attribute is an enumerated integer that indicates how the Service is started, such as: 0: Unknown; 1: Automatically by the managed environment; 2: Automatically by the owning device; 3: Manually by the Provider of the Service; 4: Manually by a Customer of the Provider; 5: Any of the above'
        feature:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
          description: 'A list of feature associated with this service '
        note:
          type: array
          items:
            $ref: '#/components/schemas/Note'
          description: A list of notes made on this service
        place:
          type: array
          items:
            $ref: '#/components/schemas/RelatedPlaceRefOrValue'
          description: A list of places (Place [*]). Used to define a place useful for the service (for example a geographical place whre the service is installed)
        relatedEntity:
          type: array
          items:
            $ref: '#/components/schemas/RelatedEntityRefOrValue'
          description: 'A list of related  entity in relationship with this service '
        relatedParty:
          type: array
          items:
            $ref: '#/components/schemas/RelatedParty'
          description: A list of related party references (RelatedParty [*]). A related party defines party or party role linked to a specific entity
        serviceCharacteristic:
          type: array
          items:
            $ref: '#/components/schemas/Characteristic'
          description: 'A list of characteristics that characterize this service (ServiceCharacteristic [*]) '
        serviceOrderItem:
          type: array
          items:
            $ref: '#/components/schemas/RelatedServiceOrderItem'
          description: A list of service order items related to this service
        serviceRelationship:
          type: array
          items:
            $ref: '#/components/schemas/ServiceRelationship'
          description: A list of service relationships (ServiceRelationship [*]). Describes links with other service(s) in the inventory (useful for describing relies-on, relies-from between CFS for example).
        serviceSpecification:
          $ref: '#/components/schemas/ServiceSpecificationRef'
          description: The specification from which this service was instantiated
        state:
          $ref: '#/components/schemas/ServiceStateType'
          description: The life cycle state of the service, such as designed, reserved, active, etc...
        supportingResource:
          type: array
          items:
            $ref: '#/components/schemas/ResourceRef'
          description: 'A list of supporting resources (SupportingResource [*]).Note: only Service of type RFS can be associated with Resources'
        supportingService:
          type: array
          items:
            $ref: '#/components/schemas/ServiceRefOrValue'
          description: A list of supporting services (SupportingService [*]). A collection of services that support this service (bundling, link CFS to RFS)
        '@baseType':
          example: ResourceSpecification
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          example: https://mycsp.com:8080/tmf-api/schema/Resource/LogicalResourceSpecification.schema.json
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          example: LogicalResourceSpecification
          type: string
          description: When sub-classing, this defines the sub-class Extensible name
        '@referredType':
          type: string
          description: The actual type of the target instance when needed for disambiguation.
    ServiceStateChangeEvent:
      type: object
      description: The notification data structure
      properties:
        event:
          description: The event payload linked to the involved resource object
          $ref: '#/components/schemas/ServiceStateChangeEventPayload'
        eventId:
          type: string
          description: The identifier of the notification.
        eventTime:
          type: string
          format: date-time
          description: Time of the event occurrence.
        eventType:
          type: string
          description: The type of the notification.
        correlationId:
          type: string
          description: The correlation id for this event.
        domain:
          type: string
          description: The domain of the event.
        title:
          type: string
          description: The title of the event.
        description:
          type: string
          description: An explnatory of the event.
        priority:
          type: string
          description: A priority.
        timeOcurred:
          type: string
          format: date-time
          description: The time the event occured.
    Response:
      type: object
      description: A response to a request
      required:
      - body
      - header
      properties:
        body:
          type: string
          description: The body of the response. For example for an HTTP response might contain HTML for rendering.
        statusCode:
          type: string
          description: The status of the response. For example for an HTTP response would be codes such as 200, 400, etc.
        header:
          type: array
          items:
            $ref: '#/components/schemas/HeaderItem'
          minItems: 1
          description: Items included in the header of the response. For example for an HTTP response might contain negotiated locale.
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name
    MonitorAttributeValueChangeEventPayload:
      type: object
      description: The event data structure
      properties:
        monitor:
          description: The involved resource data for the event
          $ref: '#/components/schemas/Monitor'
    RelatedServiceOrderItem:
      type: object
      description: RelatedServiceOrderItem (a ServiceOrder item) .The service order item which triggered service creation/change/termination.
      required:
      - itemId
      - serviceOrderId
      properties:
        itemId:
          type: string
          description: Identifier of the order item where the service was managed
        role:
          type: string
          description: role of the service order item for this service
        serviceOrderHref:
          type: string
          description: Reference of the related entity.
        serviceOrderId:
          type: string
          description: Unique identifier of a related entity.
        itemAction:
          $ref: '#/components/schemas/OrderItemActionType'
          description: Action of the order item for this service
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name
        '@referredType':
          type: string
          description: The actual type of the target instance when needed for disambiguation.
    Note:
      type: object
      description: Extra information about a given entity
      properties:
        id:
          type: string
          description: Identifier of the note within its containing entity (may or may not be globally unique, depending on provider implementation)
        author:
          type: string
          description: Author of the note
        date:
          type: string
          format: date-time
          description: Date of the note
        text:
          type: string
          description: Text of the note
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name
    ServiceAttributeValueChangeEventPayload:
      type: object
      description: The event data structure
      properties:
        service:
          description: The involved resource data for the event
          $ref: '#/components/schemas/Service'
    Feature:
      type: object
      description: Configuration feature.
      required:
      - featureCharacteristic
      - name
      properties:
        id:
          type: string
          description: Unique identifier of the feature.
        isBundle:
          type: boolean
          description: True if this is a feature group. Default is false.
        isEnabled:
          type: boolean
          description: True if this feature is enabled. Default is true.
        name:
          type: string
          description: This is the name for the feature.
        constraint:
          type: array
          items:
            $ref: '#/components/schemas/ConstraintRef'
          description: This is a list of feature constraints.
        featureCharacteristic:
          type: array
          items:
            $ref: '#/components/schemas/Characteristic'
          minItems: 1
          description: This is a list of Characteristics for a particular feature.
        featureRelationship:
          type: array
          items:
            $ref: '#/components/schemas/FeatureRelationship'
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class entity name
    ResourceUsageStateType:
      type: string
      description: ResourceUsageStateType enumerations
      enum:
      - idle
      - active
      - busy
    ResourceRefOrValue:
      type: object
      description: Resource is an abstract entity that describes the common set of attributes shared by all concrete resources. The polymorphic attributes @type, @schemaLocation & @referredType are related to the Resource entity and not the related ResourceRefOrValue class itself
      required:
      - href
      - id
      properties:
        id:
          type: string
          description: Identifier of an instance of the resource. Required to be unique within the resource type.  Used in URIs as the identifier for specific instances of a type.
        href:
          type: string
          description: The URI for the object itself.
        category:
          type: string
          description: Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource
        description:
          type: string
          description: free-text description of the resource
        endOperatingDate:
          type: string
          format: date-time
          description: A date time( DateTime). The date till the resource is operating
        name:
          type: string
          description: A string used to give a name to the resource
        resourceVersion:
          type: string
          description: A field that identifies the specific version of an instance of a resource.
        startOperatingDate:
          type: string
          format: date-time
          description: A date time( DateTime). The date from which the resource is operating
        activationFeature:
          type: array
          items:
            $ref: '#/components/schemas/Feature_2'
          description: Configuration features
        administrativeState:
          $ref: '#/components/schemas/ResourceAdministrativeStateType'
          description: Tracks the lifecycle status of the resource, such as planning, installing, opereating, retiring and so on.
        attachment:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentRefOrValue'
        note:
          type: array
          items:
            $ref: '#/components/schemas/Note_2'
        operationalState:
          $ref: '#/components/schemas/ResourceOperationalStateType'
          description: Tracks the lifecycle status of the resource, such as planning, installing, opereating, retiring and so on.
        place:
          $ref: '#/components/schemas/RelatedPlaceRefOrValue_2'
        relatedParty:
          type: array
          items:
            $ref: '#/components/schemas/RelatedParty_2'
        resourceCharacteristic:
          type: array
          items:
            $ref: '#/components/schemas/Characteristic_2'
        resourceRelationship:
          type: array
          items:
            $ref: '#/components/schemas/ResourceRelationship'
        resourceSpecification:
          $ref: '#/components/schemas/ResourceSpecificationRef'
        resourceStatus:
          $ref: '#/components/schemas/ResourceStatusType'
          description: Tracks the lifecycle status of the resource, such as planning, installing, opereating, retiring and so on.
        usageState:
          $ref: '#/components/schemas/ResourceUsageStateType'
          description: Tracks the lifecycle status of the resource, such as planning, installing, opereating, retiring and so on.
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class Extensible name
        '@referredType':
          type: string
          description: The actual type of the target instance when needed for disambiguation.
    RelatedParty_2:
      type: object
      description: Related Entity reference. A related party defines party or party role linked to a specific entity.
      required:
      - '@referredType'
      - id
      properties:
        id:
          type: string
          description: unique identifier
        href:
          type: string
          format: uri
          description: Hyperlink reference
        name:
          type: string
          description: Name of the related entity.
        role:
          type: string
          description: Role played by the related party
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class Extensible name
        '@referredType':
          type: string
          description: The actual type of the target instance when needed for disambiguation.
    ResourceAttributeValueChangeEvent:
      type: object
      description: The notification data structure
      properties:
        eventId:
          type: string
          description: The identifier of the notification.
        eventTime:
          type: string
          format: date-time
          description: Time of the event occurrence.
        eventType:
          type: string
          description: The type of the notification.
        correlationId:
          type: string
          description: The correlation id for this event.
        domain:
          type: string
          description: The domain of the event.
        title:
          type: string
          description: The title of the event.
        description:
          type: string
          description: An explnatory of the event.
        priority:
          type: string
          description: A priority.
        timeOcurred:
          type: string
          format: date-time
          description: The time the event occured.
        fieldPath:
          type: string
          description: The path identifying the object field concerned by this notification.
        event:
          description: The event payload linked to the involved resource object
          $ref: '#/components/schemas/ResourceAttributeValueChangeEventPayload'
    ResourceDeleteEventPayload:
      type: object
      description: The event data structure
      properties:
        resource:
          description: The involved resource data for the event
          $ref: '#/components/schemas/Resource'
    ConstraintRef_2:
      type: object
      description: Constraint reference. The Constraint resource represents a policy/rule applied to an entity or entity spec.
      properties:
        id:
          type: string
          description: unique identifier
        href:
          type: string
          format: uri
          description: Hyperlink reference
        name:
          type: string
          description: Name of the related entity.
        version:
          type: string
          description: constraint version
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class Extensible name
        '@referredType':
          type: string
          description: The actual type of the target instance when needed for disambiguation.
      required:
      - id
    ResourceStateChangeEvent:
      type: object
      description: The notification data structure
      properties:
        event:
          description: The event payload linked to the involved resource object
          $ref: '#/components/schemas/ResourceStateChangeEventPayload'
        eventId:
          type: string
          description: The identifier of the notification.
        eventTime:
          type: string
          format: date-time
          description: Time of the event occurrence.
        eventType:
          type: string
          description: The type of the notification.
        correlationId:
          type: string
          description: The correlation id for this event.
        domain:
          type: string
          description: The domain of the event.
        title:
          type: string
          description: The title of the event.
        description:
          type: string
          description: An explnatory of the event.
        priority:
          type: string
          description: A priority.
        timeOcurred:
          type: string
          format: date-time
          description: The time the event occured.
    ResourceCreateEventPayload:
      type: object
      description: The event data structure
      properties:
        resource:
          description: The involved resource data for the event
          $ref: '#/components/schemas/Resource'
    AttachmentRefOrValue:
      type: object
      description: An attachment by value or by reference. An attachment complements the description of an element, for example through a document, a video, a picture.
      properties:
        id:
          example: 4aafacbd-11ff-4dc8-b445-305f2215715f
          type: string
          description: Unique identifier for this particular attachment
        href:
          example: http://host/Attachment/4aafacbd-11ff-4dc8-b445-305f2215715f
          type: string
          format: uri
          description: URI for this Attachment
        attachmentType:
          example: video
          type: string
          description: Attachment type such as video, picture
        content:
          type: string
          format: base64
          description: The actual contents of the attachment object, if embedded, encoded as base64
        description:
          example: Photograph of the Product
          type: string
          description: A narrative text describing the content of the attachment
        mimeType:
          type: string
          description: Attachment mime type such as extension file for video, picture and document
        name:
          type: string
          description: The name of the attachment
        url:
          example: http://host/Content/4aafacbd-11ff-4dc8-b445-305f2215715f
          type: string
          format: uri
          description: Uniform Resource Locator, is a web page address (a subset of URI)
        size:
          $ref: '#/components/schemas/Quantity'
          description: The size of the attachment.
        validFor:
          $ref: '#/components/schemas/TimePeriod_2'
          description: The period of time for which the attachment is valid
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class Extensible name
        '@referredType':
          type: string
          description: The actual type of the target instance when needed for disambiguation.
    ResourceStatusType:
      type: string
      description: ResourceStatusType enumerations
      enum:
      - standby
      - alarm
      - available
      - reserved
      - unknown
      - suspended
    FeatureRelationship_2:
      type: object
      description: Configuration feature
      required:
      - name
      - relationshipType
      properties:
        id:
          type: string
          description: Unique identifier of the target feature.
        name:
          type: string
          description: This is the name of the target feature.
        relationshipType:
          type: string
          description: This is the type of the feature relationship.
        validFor:
          $ref: '#/components/schemas/TimePeriod_2'
          description: The period for which this feature relationship is valid.
    ResourceStateChangeEventPayload:
      type: object
      description: The event data structure
      properties:
        resource:
          description: The involved resource data for the event
          $ref: '#/components/schemas/Resource'
    ResourceRelationship:
      type: object
      description: Linked resources to the one instantiate, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (e.g. an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful
      required:
      - relationshipType
      - resource
      properties:
        id:
          type: string
          description: unique identifier
        href:
          type: string
          format: uri
          description: Hyperlink reference
        relationshipType:
          example: bundled
          type: string
          description: 'Type of the resource relationship, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (eg: an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful'
        resource:
          $ref: '#/components/schemas/ResourceRefOrValue'
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class Extensible name
    ResourceAdministrativeStateType:
      type: string
      description: ResourceAdministrativeStateType enumerations
      enum:
      - locked
      - unlocked
      - shutdown
    Resource:
      type: object
      description: Resource is an abstract entity that describes the common set of attributes shared by all concrete resources (e.g. TPE, EQUIPMENT) in the inventory.
      required:
      - href
      - id
      properties:
        id:
          type: string
          description: Identifier of an instance of the resource. Required to be unique within the resource type.  Used in URIs as the identifier for specific instances of a type.
        href:
          type: string
          description: The URI for the object itself.
        category:
          type: string
          description: Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource
        description:
          type: string
          description: free-text description of the resource
        endOperatingDate:
          type: string
          format: date-time
          description: A date time( DateTime). The date till the resource is operating
        name:
          type: string
          description: A string used to give a name to the resource
        resourceVersion:
          type: string
          description: A field that identifies the specific version of an instance of a resource.
        startOperatingDate:
          type: string
          format: date-time
          description: A date time( DateTime). The date from which the resource is operating
        activationFeature:
          type: array
          items:
            $ref: '#/components/schemas/Feature_2'
          description: Configuration features
        administrativeState:
          $ref: '#/components/schemas/ResourceAdministrativeStateType'
          description: Tracks the lifecycle status of the resource, such as planning, installing, opereating, retiring and so on.
        attachment:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentRefOrValue'
        note:
          type: array
          items:
            $ref: '#/components/schemas/Note_2'
        operationalState:
          $ref: '#/components/schemas/ResourceOperationalStateType'
          description: Tracks the lifecycle status of the resource, such as planning, installing, opereating, retiring and so on.
        place:
          $ref: '#/components/schemas/RelatedPlaceRefOrValue_2'
        relatedParty:
          type: array
          items:
            $ref: '#/components/schemas/RelatedParty_2'
        resourceCharacteristic:
          type: array
          items:
            $ref: '#/components/schemas/Characteristic_2'
        resourceRelationship:
          type: array
          items:
            $ref: '#/components/schemas/ResourceRelationship'
        resourceSpecification:
          $ref: '#/components/schemas/ResourceSpecificationRef'
        resourceStatus:
          $ref: '#/components/schemas/ResourceStatusType'
          description: Tracks the lifecycle status of the resource, such as planning, installing, opereating, retiring and so on.
        usageState:
          $ref: '#/components/schemas/ResourceUsageStateType'
          description: Tracks the lifecycle status of the resource, such as planning, installing, opereating, retiring and so on.
        '@baseType':
          type: string
          description: When sub-classing, this defines the super-class
        '@schemaLocation':
          type: string
          format: uri
          description: A URI to a JSON-Schema file that defines additional attributes and relationships
        '@type':
          type: string
          description: When sub-classing, this defines the sub-class Extensible name
    ResourceDeleteEvent:
      type: object
      description: The notification data structure
      properties:
        event:
          description: The event payload linked to the involved resource object
          $ref: '#/components/schemas/ResourceDeleteEventPayload'
        eventId:
          type: string
          description: The identifier of the notification.
        eventTime:
          type: string
          format: date-time
          description: Time of the event occurrence.
        eventType:
          type: string
          description: The type of the notification.
        correlationId:
          type: string
          description: The correlation id for this event.
        domain:
          type: string
          description: The domain of the event.
        title:
          type: string
          description: The title of the event.
        description:
          type: string
          description: An explnatory of the event.
        priority:
          type: string
          description: A priority.
        timeOcurred:
          type: string
          format: date-time
          description: The time the event occured.
    ResourceOperationalStateType:
      type: string
      description: ResourceOperationalStateType enumerations
      enum:
      - enable
      - disable
    ResourceCreateEvent:
      type: object
      description: The notification data structure
      properties:
        event:
          description: The event payload linked to the involved resource object
          $ref: '#/components/schemas/ResourceCreateEventPayload'
        eventId:
          type: string
          description: The identifier of the notification.
        eventTime:
          type: string
          format: date-time
          description: Time of the event occurrence.
        eventType:
          type: string
          description: The type of the notification.
        correlationId:
          type: string
          description: The correlation id for this event.
        domain:
          type: string
          description: The domain of the event.
        title:
          type: string
          description: The title of the event.
        description:
          type: string
          description: An explnatory of the event.
        priority:
          type: string
          description: A priority.
        timeOcurred:
          type: string
          format: date-time
          description: The time the event occured.
    TimePeriod_2:
      type: object
      description: A period of time, either as a deadline (endDateTime only) a startDateTime only, or both
      properties:
        endDateTime:
          example: '1985-04-12T23:20:50.52Z'
[...]
