openapi: 3.2.0
info:
  description: To enable merchants to manage purchases of subscribers
  version: v1.0
  title: MTN Merchant Provisioning Advice Reconcile API
servers:
- url: https://api.mtn.com/v1/merchant
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: Advice Reconcile
paths:
  /adviceReconcile/{merchantId}:
    post:
      tags:
      - Advice Reconcile
      summary: Used to purchase airtime/bundles.
      description: Used to purchase airtime/bundles. In addition an Auto Top Up (isAutoTopUp) field has been introduced for Bundle or Airtime Recharges. When isAutoTopUp=true, paymentId must be set.
      operationId: adviceReconcile
      parameters:
      - name: targetSystem
        in: header
        required: true
        schema:
          type: string
          enum:
          - SAAE
          default: SAAE
      - name: merchantId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReconResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReconRequest'
        required: true
components:
  schemas:
    ReconResponse:
      type: object
      properties:
        statusCode:
          type: string
          example: '0000'
        statusMessage:
          type: string
          example: Success
        transactionId:
          type: string
          description: Unique identifier of the transaction
        data:
          type: object
          properties:
            msn:
              type: string
              description: This field represents the message sequence number generated by the ASAP to track the submitted request at a later point in time.
            merchantId:
              type: string
              minLength: 1
              maxLength: 50
              description: This field represents the merchant responsible for initiating the request.
              example: '99999'
            reconDate:
              description: This field represents the date for which reconciliation advice (usage) should be retrieved for the merchant ID specified.
              type: string
            reconDateTotal:
              description: This field represents the total usage for the merchant on the particular date specified.
              type: string
    ReconRequest:
      type: object
      properties:
        transactionId:
          maxLength: 50
          type: string
          description: RSN is a unique request sequence number that can be used to tie up the request and response.
          example: '4837617387438085'
        timestamp:
          description: The field denotes the date at which the request is done.
          type: string
          example: '20101126023515'
        reconDate:
          description: This field represents the date for which reconciliation advice (usage) should be retrieved for the merchant ID specified.
          type: string
    Error:
      type: object
      title: Error
      required:
      - status
      - message
      properties:
        statusCode:
          type: string
          description: Status code returned by provider system
        statusMessage:
          type: string
          description: Status description
        supportMessage:
          type: string
          description: More error details and corrective measures
        path:
          type: string
          description: The path that caused the error
        timestamp:
          type: string
          format: date-time
          description: Time stamp of the error
        transactionId:
          type: string
          description: Transaction id returned by the provider system.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-API-Key
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api.mtn.com/v1/oauth/access_token
