openapi: 3.2.0
info:
  version: v1.0
  title: ServiceNow - Remedy Incident synchronisation Track ticket API
  description: An API to share an incident tickets between Remedy and ServiceNow
servers:
- url: https://api.mtn.com/
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: Track ticket
paths:
  /incident:
    get:
      tags:
      - Track ticket
      summary: Query ticket details based on msisdn
      description: Fetch a ticket's details using the msisdn
      parameters:
      - in: query
        name: customerId
        required: true
        description: MSISDN of the customer
        schema:
          type: string
      - in: query
        name: startDate
        description: This is the start date against which a search for the specified ticket number will be made e.g 20201101
        schema:
          type: string
      - in: query
        name: endDate
        description: This is the end date against which a search for the specified ticket number will be made e.g 20201130
        schema:
          type: string
      - in: query
        name: targetSystem
        required: true
        schema:
          type: string
          enum:
          - SERVICENOW
          - CLM
          - REMEDYSA
      - in: query
        name: numberOfTickets
        description: This is the number of tickets to be fetched from backend system. If not passed then default configured number of tickets will be returned from backend.
        schema:
          type: number
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketTrackResponse'
        401:
          description: Not authenticated
        404:
          description: Not found
        407:
          description: Proxy system not authenticated
        500:
          description: Internal Server Error
  /incident/{ticketId}:
    get:
      tags:
      - Track ticket
      summary: Query ticket details
      description: Fetch a ticket's details using the ticket Id
      parameters:
      - in: path
        name: ticketId
        required: true
        description: This is the ticket Id received in the response when creating a ticket
        schema:
          type: string
      - in: query
        name: startDate
        description: This is the start date against which a search for the specified ticket number will be made e.g 20201101
        schema:
          type: string
      - in: query
        name: endDate
        description: This is the end date against which a search for the specified ticket number will be made e.g 20201130
        schema:
          type: string
      - in: query
        name: targetSystem
        required: true
        schema:
          type: string
          enum:
          - SERVICENOW
          - CLM
          - REMEDYSA
      - in: query
        name: customerId
        description: MSISDN of the customer
        schema:
          type: string
      responses:
        200:
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketTrackResponse'
        401:
          description: Not authenticated
        404:
          description: Not found
        407:
          description: Proxy system not authenticated
        500:
          description: Internal Server Error
components:
  schemas:
    TicketTrackRecordList:
      type: array
      items:
        $ref: '#/components/schemas/TicketTrackRecords'
    TicketTrackRecords:
      type: object
      properties:
        ticketLogDate:
          type: string
          description: Date when the incident was reported
        status:
          type: string
          description: Status of the ticket
          example: CLOSED
        priority:
          type: string
          description: Priority of the created ticket
        ticketIssueType:
          type: string
          description: This indicates the type of person that created the ticket.
          example: Complaint
        channel:
          type: string
          description: Channel through which the incident was created
        assigneeName:
          type: string
          description: Name of the person or team asigned to the ticket
        complaint:
          type: string
          description: Description of the incident that was created
        workFlowId:
          type: string
          description: Workflow ID
        respondedBy:
          type: string
          description: Name of the person that responded to the ticket
        dateTicketResponded:
          type: string
          description: Date when the ticket was responded to
        rowNum:
          type: number
          description: Row number for the ticket
        transDate:
          type: string
          description: transaction date for the request
        eventRefNo:
          type: string
          description: Event reference number for the request
        notes:
          type: string
          description: Notes for the ticket
        categoryDesc:
          type: string
          description: Category description for the ticket
        msisdn:
          type: string
          description: mobile number for the request
        subsName:
          type: string
          description: subscriber name
        category1:
          type: string
          description: category tier 1
        category2:
          type: string
          description: category tier 2
        category3:
          type: string
          description: category tier 3
        createdBy:
          type: string
          description: ticket created by
        statusFrn:
          type: string
          description: status in French
    TicketTrackResponse:
      type: object
      properties:
        statusCode:
          type: string
          example: '0000'
        statusMessage:
          type: string
          example: Successful Request
        transactionId:
          type: string
          description: Client or API generated Id to include for tracing requests
        data:
          $ref: '#/components/schemas/TicketTrackRecordList'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-API-Key
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api.mtn.com/v1/oauth/access_token
