openapi: 3.2.0
info:
  version: Swagger 2.0
  title: Logback Failure Service Query By Transaction ID API
servers:
- url: https://api.mtn.com/v1
security:
- OAuth2: []
- ApiKeyAuth: []
tags:
- name: Query By Transaction ID
paths:
  /logback/{transactionId}:
    get:
      operationId: Query logback by transaction ID
      tags:
      - Query By Transaction ID
      summary: Query logback by transaction ID
      description: Query logback by transaction ID
      parameters:
      - in: path
        name: transactionId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clientErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serverErrorResponse'
components:
  schemas:
    clientErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
          format: date
        status:
          type: string
        error:
          type: string
        message:
          type: string
        path:
          type: string
    responseData:
      type: object
      properties:
        requestType:
          type: string
        created:
          type: string
          format: date
        payload:
          type: object
        header:
          type: object
        targetUrl:
          type: string
        error:
          type: object
        status:
          type: string
        source:
          type: string
        transactionId:
          type: string
        countryCode:
          type: string
    serverErrorResponse:
      type: object
      properties:
        statusCode:
          type: string
        statusMessage:
          type: string
        data:
          type: string
    response:
      type: object
      properties:
        statusCode:
          type: string
        statusMessage:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/responseData'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-API-Key
      in: header
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api.mtn.com/v1/oauth/access_token
