openapi: 3.2.0
info:
  version: '1.0'
  title: LoyaltySwagger Loyalty Member API
  description: The TMForum Loyalty API Specification as developed by Globetom
servers:
- url: http://api.mtn.com/tmf-api/loyaltyManagement/v1
tags:
- name: Loyalty Member
paths:
  /loyaltyProgramMember:
    post:
      description: This operation creates a new loyalty program member.
      tags:
      - Loyalty Member
      operationId: Create Member
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateLoyaltyMemberRef'
        '409':
          description: Conflict - A loyalty transaction with the same identifier already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity - Field rule violation or missing required attribute.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoyaltyMemberRef'
        required: true
  /loyaltyProgramMember/{memberId}:
    delete:
      description: This operation deletes a loyalty program member.
      tags:
      - Loyalty Member
      operationId: Delete Member
      parameters:
      - name: memberId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltySuccessResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ValidFor:
      title: ValidFor
      type: object
      properties:
        startDateTime:
          type: string
        endDateTime:
          type: string
      required:
      - startDateTime
    EngagedPartyRef:
      title: EngagedPartyRef
      type: object
      properties:
        id:
          type: string
        contactMedium:
          type: array
          items:
            $ref: '#/components/schemas/ContactMediumRef'
    MediumRef:
      title: MediumRef
      type: object
      properties:
        type:
          type: string
        value:
          type: string
    ErrorDetail:
      required:
      - code
      - message
      properties:
        code:
          description: An integer coding the error type. This is given to caller so he can translate them if required.
          type: integer
        message:
          description: A short localized string that describes the error.
          type: string
        description:
          description: (optional) A long localized error description if needed. It can contain precise information about which parameter is missing, or what are the identifier acceptable values.
          type: string
        infoURL:
          description: (optional) A URL to online documentation that provides more information about the error.
          type: string
    ContactMediumRef:
      title: ContactMediumRef
      type: object
      properties:
        type:
          type: string
        medium:
          type: array
          items:
            $ref: '#/components/schemas/MediumRef'
    CreateLoyaltyMemberRef:
      title: CreateLoyaltyMember
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        name:
          type: string
        validFor:
          $ref: '#/components/schemas/ValidFor'
        charecteristic:
          type: array
          items:
            $ref: '#/components/schemas/CharecteristicRef'
        engageParty:
          type: array
          items:
            $ref: '#/components/schemas/EngagedPartyRef'
    LoyaltySuccessResponse:
      title: LoyaltyBalanceTransferResponse
      required:
      - code
      - message
      properties:
        code:
          description: An integer coding the error type. This is given to caller so he can translate them if required.
          type: integer
        message:
          description: A short localized string that describes the error.
          type: string
        description:
          description: (optional) A long localized error description if needed. It can contain precise information about which parameter is missing, or what are the identifier acceptable values.
          type: string
    CharecteristicRef:
      title: CharecteristicRef
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    Error:
      required:
      - code
      - message
      properties:
        code:
          description: An integer coding the error type. This is given to caller so he can translate them if required.
          type: integer
        message:
          description: A short localized string that describes the error.
          type: string
        description:
          description: (optional) A long localized error description if needed. It can contain precise information about which parameter is missing, or what are the identifier acceptable values.
          type: string
        infoURL:
          description: (optional) A URL to online documentation that provides more information about the error.
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
